.SideNav {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.SideNav-item {
  display: flex;
  color: white;
}

.SideNav-item-title {
  flex: 1;
}

.SideNav-item-info {
  margin-left: auto;
}

.selected {
  background-color: var(--selected-color);
}


.SideNav-item:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.bottomBar {
  display: flex;
  flex-flow: row nowrap;
  margin-top: auto;
}

.addButton {
  margin-left: auto;
}
