:root {
  --theme-source: light;
  --ace-theme: github;

  --font-family: sans-serif;
  --font-color: black;

  --bg-color: white;
  --text-color: black;
  --selected-color: red;
  --hover-color: blue;

  --tab-text-color:  rgb(154, 154, 154);
  --tab-color: rgb(77, 77, 77);
  --tab-text-selected-color: white;
  --tab-selected-color: rgb(46, 46, 46);
  --tab-background-color: rgb(0, 0, 0);

  --save-button-color: rgb(146, 94, 0);
  --run-button-color: rgb(146, 0, 0);
}
