.ResizableLayout {

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.child {
  height: 100%;
}

.GrabberWrapper {
  position: absolute;
}

.grabber {
  position: absolute;
  // Uncomment this line to see the grabbers
  // background-color: green;
  z-index: 5;
}
